{% extends 'templates/base.html.twig' %}

{% block nav %}{% include 'templates/navbar.html.twig' with nav %}{% endblock %}
{% block main %}
    <script src='resources/javascript/test.js'></script>xf
    <div id="signup-panel" class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">Change your information</div>
            <div class="panel-body">
                {% if request_method == "POST" %}
                    {{ error|length? "An error occurred" : "Changes saved" }}
                {% endif %}
                <form method="post" action="profile.php">
                    {% if faculty_id %}
                        <p>
                            <label class="form-label">Department:</label>
                            <input class="textbox" name="department" type="text" value='{{ department }}'/>
                            {{ error['department']? error['department'] }}
                        </p>
                    {% endif %}
                    {% if student_id %}
                        <p>
                            <label class="form-label">Major:</label>
                            <input class="textbox" name="major" type="text" value='{{ major }}'/>
                            {{ error['major']? error['major'] }}
                        </p>
                    {% endif %}
                    <div class="submit-button"><input class="btn btn-primary btn-block" type="submit" value="Submit" /></div>
                </form>
                <p>
                    <label class="form-label">Interests:</label>
                    {{ error['interests']? error['interests'] }}
                    <ul>
                        <label>Add interest</label><input type="textbox" id="new-interest" name="new-interest" onkeyup="ajaxAddInterestOnEnter(event)"/><button type="button" onclick="ajaxAddInterest(event)">Add interest</button>
                        {% for interest in interests %}
                            <li>{{ interest['tag'] }} <button type="button" onclick="ajaxRemoveInterest(event, {{ interest['id'] }})">Remove</button></li>
                        {% endfor %}
                    </ul>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
