{% extends 'templates/base.html.twig' %}

{% block nav %}{% include 'templates/navbar.html.twig' with nav %}{% endblock %}
{% block main %}
    <script src='resources/javascript/test.js'></script>
    <div id="join-panel" class="panel panel-primary">
        <div class="panel-body">
            <div class="split-view">
                <h3>Teams</h3>
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Create a Team</button>
                <form method="GET" action="teams.php">
                    <input type="hidden" name="filter" value="{{ filter }}"/>
                    <input type="textbox" name="search" placeholder="Search" value="{{ search }}" style="float: right;"/>
                </form>
                <form method="GET" action="teams.php">
                    <label>Filter</label>
                    <select name="filter" onchange="this.form.submit()">
                        <option {{ ((filter == "all")? "selected") }} value="all">All teams</option>
                        <option {{ ((filter == "my")? "selected") }} value="my">My teams</option>
                        <option {{ ((filter == "applied")? "selected") }} value="applied">Applied teams</option>
                    </select>
                </form>
                <hr>
                <div class="list-view">
                    <div class="list-results">
                        <ul>
                            {% for row in list_items %}
                                <li>
                                    <div class="list-item-div">
                                        <a href="teams.php?filter={{ filter }}&search={{ search }}&id={{ row['id'] }}">
                                            <div class="pi">{{ row['title'] }}</div>
                                            <div class="pi">{{ row['firstName'] }}</div>
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="content-view">
                    <h3>{{ title }}</h3>
                    <hr>
                    <div class="view-teams-aligned-fields">
                        {% if not(roles is defined) %}
                            Choose a team on the left
                        {% else %}
                            <div class="update-div">
                                <label>Description</label>
                                <div class="view-teams-aligned-values">{{ description }}</div>
                            </div>
                            <div class="update-div">
                                <form id="role-application-form" method="POST" action="teams.php?filter={{ filter }}&search={{ search }}&id={{ selected_team_id }}" >
                                    <input type="hidden" name="action" value="application"/>
                                    <input type="hidden" id="role-application-form-value" name="role" value="-1" />
                                    <input type="hidden" name="team-id" value="{{ selected_team_id }}" />
                                    {% for err in error['role-application'] %}
                                        {{ err }}
                                    {% endfor %}
                                    {% for role in roles %}
                                        <label>{{ role['role'] }}</label>
                                        <div class="view-teams-aligned-values">{{ ((role['firstName'])? role['firstName'] : 'None') }}</div>
                                        <button type="button" onclick="setAppliedRole(event, {{ role['role_id'] }})">Apply</button>
                                        <br>
                                    {% endfor %}
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% embed 'templates/modal.html.twig' %}
        {% block modal_header %}
            Create a Team
        {% endblock %}
        {% block modal_content %}
            <form method="post" action="teams.php">
                <input type="hidden" name="action" value="create"/>
                <p>
                    <label class="form-label">Title:</label>
                    <input class="textbox" name="title" type="text" value='{{ ((modal['title'] is defined)? modal['title'] : '') }}'/>
                    {{ error['create-team']['title']? error['create-team']['title'] }}
                </p>
                <p>
                    <label class="form-label">Description:</label>
                    <textarea name="description">{{ ((modal['description'] is defined)? modal['description'] : '') }}</textarea>
                    {{ error['create-team']['description']? error['create-team']['description'] }}
                </p>
                <div class="submit-button"><input class="btn btn-primary btn-block" type="submit" value="Create Team" /></div>
            </form>
        {% endblock %}
    {% endembed %}
{% endblock %}
