{% extends 'base.html.twig' %}

{% block main %}
    <div id="signup-panel" class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a href="index.php" class="btn btn-default btn-sm"><</a>
                Enter your information
            </div>
            <div class="panel-body">
                <form method="post" action="signup.php">
                    <p>
                        <label class="form-label">Email:</label><input class="textbox" name="email" type="text" value='{{ email }}'/>
                        {{ error['email']? error['email'] }}
                    </p>
                    <p>
                        <label class="form-label">University:</label><input class="textbox" name="university" type="text" value='{{ university }}'/>
                        {{ error['university']? error['university'] }}
                    </p>
                    <p>
                        <label class="form-label">Role:</label>
                        <select name="role">
                            {% for role in roles %}
                                <option>{{ role }}</option>
                            {% endfor %}
                        </select>
                        {{ error['role']? error['role'] }}
                    </p>
                    <p>
                        <label class="form-label">First Name:</label>
                        <input class="textbox" name="firstName" type="text" value='{{ firstName }}'/>
                        {{ error['firstName']? error['firstName'] }}
                    </p>
                    <p>
                        <label class="form-label">Last Name:</label>
                        <input class="textbox" name="lastName" type="text" value='{{ lastName }}'/>
                        {{ error['lastName']? error['lastName'] }}
                    </p>
                    <p>
                        <label class="form-label">Password:</label>
                        <input class="textbox" name="pass1" type="password" />
                        {{ error['pass1']? error['pass1'] }}
                    </p>
                    <p>
                        <label class="form-label">Confirm password:</label>
                        <input class="textbox" name="pass2" type="password" />
                        {{ error['pass2']? error['pass2'] }}
                    </p>
                    <p>
                        <label class="form-label">Department:</label>
                        <input class="textbox" name="department" type="text" value='{{ department }}'/>
                        {{ error['department']? error['department'] }}
                    </p>
                    <p>
                        <label class="form-label">Major:</label>
                        <input class="textbox" name="major" type="text" value='{{ major }}'/>
                        {{ error['major']? error['major'] }}
                    </p>
                    <p>
                        <label class="form-label">Interests:</label>
                        <textarea name="interests" rows="4" cols="50">{{ interests }}</textarea>
                        {{ error['interests']? error['interests'] }}
                    </p>
                    <div class="submit-button"><input class="btn btn-primary btn-block" type="submit" value="Submit" /></div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}